.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
.row {
  display: flex;
  width: 100%;
  flex-direction: row;
  text-align: center;
  padding: 10px;
}
.col {
  width: 100%;
}
.header,
.phone,
.warn,
.country {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.header span {
  width: 100%;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 20px;
  color: #000000;
  padding: 30px;
}
.header button {
  border: none;
  background: transparent;
}
.warn span {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  margin: 0px 10px;
}

.country select {
  padding: 10px 0px;
  border: none;
  margin: 20px 0px 0px 0px;
  border-bottom: 1px solid;
  width: 230px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
}
.col select option {
  text-align: center;
  width: 230px;
}
.phone .phonecode {
  width: 40px;
  border: none;
  border-bottom: 1px solid;
  margin: 10px;
  padding: 8px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
}
.phone .phonenumber {
  font-family: "Roboto", Arial, sans-serif;
  width: 170px;
  border: none;
  border-bottom: 1px solid;
  margin: 10px;
  padding: 8px;
  text-align: center;
  font-size: 14px;
}
.phonecode {
  width: 50px !important;
  padding: 8px 0px !important;
}
.phone input {
  outline: none;
  border: none;
}
.message p {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  text-align: center;
}
.process {
  margin: 154px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.process button {
  border-radius: 3px;
  font-family: "Roboto", Arial, sans-serif;
  background: #00a884;
}
.error-message {
  color: #f90909;
}
