.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  background: #e5e5e5;
  height: 100vh;
}
.row {
  display: flex;
  width: 100%;
  flex-direction: row;
  text-align: center;
}
.col {
  width: 100%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 45px 0px;
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 45px 35px 24px 35px;
}
.text span {
  text-align: center;
  font-size: 13px;
  line-height: 13px;
  font-family: "Roboto", Arial, sans-serif;
}
.header span {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  font-family: "Roboto", Arial, sans-serif;
}
.action {
  display: flex;
  align-items: center;
  justify-content: center;
}
.action button {
  padding: 10px 70px;
  background: #00a884;
  border-radius: 4px;
  border: none;
}
