<div class="container">
  <div class="row">
    <div class="col">
      <div class="header">
        <button routerLink="/main">
          <svg
            width="30"
            height="27"
            viewBox="0 0 30 27"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M24.9997 11.9566H9.74966L16.7497 5.86964L14.9997 4.3479L4.99966 13.0436L14.9997 21.7392L16.7497 20.2175L9.74966 14.1305H24.9997V11.9566Z"
              fill="white"
            />
          </svg>
        </button>
        <div class="nav">
          <div class="profile">
            <mat-icon>not_interested</mat-icon>
          </div>
          <div class="status">
            <span>Name</span>
            <p>Status</p>
          </div>
        </div>
        <div class="spacer"></div>
        <div class="navgation">
          <button>
            <mat-icon>videocam</mat-icon>
          </button>
          <button>
            <mat-icon>call</mat-icon>
          </button>
          <button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Help</button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="chats">
        <ul>
          <li>one</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="footer">
        <input />
        <mat-icon>mic</mat-icon>
      </div>
    </div>
  </div>
</div>
