<div class="container">
  <div class="row">
    <div class="col">
      <div class="header" [style.display]="showInput ? 'none' : 'flex'">
        <div class="logo">
          <span>WhatsApp</span>
        </div>
        <div class="navgation">
          <button (click)="startCamera()">
            <mat-icon>camera_alt</mat-icon>
          </button>
          <button (click)="showInput = true">
            <mat-icon>search</mat-icon>
          </button>
          <button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Help</button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="nav" [style.display]="showInput ? 'none' : 'block'">
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>group</mat-icon>
            </ng-template>
            <div>Content 1</div>
          </mat-tab>
          <div class="navigation">
            <mat-tab class="custom-tab" label="Chats"> Chats </mat-tab>
            <mat-tab label="Status"> Status </mat-tab>
            <mat-tab label="Calls"> Calls </mat-tab>
          </div>
        </mat-tab-group>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="search" [style.display]="showInput ? 'block' : 'none'">
        <button [style.display]="showInput2 ? 'none' : 'block'">
          <mat-icon>keyboard_backspace</mat-icon>
        </button>
        <input matInput placeholder="Search" />
        <button>
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
