<div class="container">
  <div class="row">
    <div class="col">
      <div class="header">
        <div>
          <span>WhatsApp</span>
        </div>
        <div class="navgation">
          <input matInput placeholder="Search" style="display: none" />
          <button>
            <mat-icon>camera_alt</mat-icon>
          </button>
          <button>
            <mat-icon>search</mat-icon>
          </button>
          <button>
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="nav">
        <mat-tab-group class="custom-primary">
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>group</mat-icon>
            </ng-template>
            <div>Content 1</div>
          </mat-tab>
          <div class="navigation">
            <mat-tab class="custom-tab" label="Chats"> Chats </mat-tab>
            <mat-tab label="Status"> Status </mat-tab>
            <mat-tab label="Calls"> Calls </mat-tab>
          </div>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
